@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>绑定车辆</title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")  
     <script src="~/Content/JS/jquery.cookie.js"></script>
    <script src="~/Content/asyncbox/AsyncBox.v1.4.5.js"></script>
    <link href="~/Content/asyncbox/skins/ZCMS/asyncbox.css" rel="stylesheet" />
        <script src="~/Content/JS/IndexLogin.js"></script>
       
         <style>
             html {
                 height: 100%;
                 margin: 0;
             }

             body {
                 margin: 0;
                 padding: 0;
                 min-height: 100%;
                 _height: 100%;
                 background-color:#60C1EB; /*#01b7CF;*/
             }

             div {
                 margin: 0;
                 padding: 0;
             }
             #login {
                 width: 150px;
                 height: 38px;
                 margin: 2px;
                 margin-top: 20px;
                 cursor: pointer;
                 font-weight: bold;
                 font-size: 20px;
                 background-color: #FFF;
                 border: 0px solid #60AAF4;
                 border-radius: 15px;
             }

             #divFoot {
                 height: 32px;
                 line-height: 32px;
                 /*margin: 0px;*/
                 padding: 0px;
                 /*background-color: #018DB0;*/
                 text-align: center;
                 /*position: absolute;*/
                 /*margin-bottom:0px;*/
                 /*bottom: 0px;*/
                 margin-left: 40%;
                 position: fixed;
                 bottom: 0;
             }

             .text {
                 /*width: 300px;
                 height: 40px;
                 margin: 2px;
                 text-align: center;
                 font-weight: bold;
                 font-size: 20px;*/
                 background-color: #FFF;
                 color: white;
                 border: 1px solid #60AAF4;
                 border-radius: 15px;
             }

             .input {
                 width: 270px;
                 height: 35px;
                 margin: 2px;
                 font-weight: bold;
                 font-size: 20px;
                 border: 0px solid #FFF;
             }
             p {text-indent: 1cm}
         </style>
      
</head>
<body id="mbody">
    <div id="div_login" style="width: 100%; height: 100%; position: fixed; ">
        <div style="width: 100%; height: 44%; background-color: #ffffff;">
          @*  <img src="~/Images/Imageshyy/bg.png" style="width:100%;height:100%;margin:0px auto" />*@
        </div>
        <div style="width: 100%; height: 55%;">
            <div style="width:300px;margin:0px auto;text-align:center;">
                <div class="text" style="margin-top:20px;">
                    <input type="text" id="userName" class="input" placeholder="账号">
                </div>
                <div class="text" style="margin-top:20px;">
                    <input type="password" id="userPwd" class="input" placeholder="密码">                   
                </div>          
                <div>
                    <input type="button" id="login" value="登录">                    
                </div>                
                 <div style="bottom:0px;position:absolute;">             
                </div>
            </div>
         <p>       
      
            <input type="text" id="wxid" class="input" style="display:none;" value="@ViewData["wxid"]" />           
            <input type="text" id="isLogin" class="input" style="display:none;" value="@ViewData["isLogin"]" />
              <input type="text" id="vehCph" class="input" style="display:none;" value="@ViewData["vehCph"]" />
         </p>
        </div>

    </div>
     <div id="div_loginTrue" style="height:100%;width:100%;display:none;margin:0px auto;z-index:9999;text-align: center;font-size:25px;">
         <span>绑定成功！</span>
         <div id="dislogin">解除绑定 >></div>
     </div>
</body>
</html>

